body {
    background-color: #fff;
}

.dashbd-appbar {
    /* background-color: #feefc3; */
}


.dashbd-menu-btn {
    margin-right: 50px;
}

.dashbd-search {
    width: 70%;
    position: relative;
    border-radius: 5px;
    background-color: #e4e4e4b6;
    color: #252525;
    margin: 0 5%;
    box-shadow: 1px 1px 3px #979797;
    padding: 7px;
}

.dashbd-search:hover {
    background-color: #fff;
}

.dashbd-keep-icon {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.dashbd-search-icon {
    padding: 0 2%;
    height: 100%;
    position: absolute;
    bottom: 1px;
    cursor: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.dashbd-inputbase {
    padding: 1px;
    padding-left: 1px;
    /* transition: theme.transitions.create("width"), */
    width: 100%;
    color: #252525;
}


.dashbd-header-icons {
    display: flex;
    width: 50%;
    justify-content: flex-end;
    color: #575757;

}

.main-container {
    background-color: #fff;
}

.icons {
    margin: 0 15px;

}

.ref-icon:hover,
.lis-icon:hover,
.app-icon:hover,
.acc-icon:hover,
.set-icon:hover {

    color: #252525;
}

.google-icons {
    display: flex;
    flex-direction: row;
    margin-left: 20px;
}

.acc-icon,
.app-icon {
    margin: 0 10px;
}

.dashbd-list {
    top: 60px;

}

.list-items {
    display: flex;
    padding: 15px 25px;
    align-items: center;
    font-size: 16px;
}

.list-items:hover {
    background-color: #feefc3;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
}

.list-name {
    margin-left: 30px;
}

.content-container {
    padding: 100px;
}

.note-taker-div {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.add-note-icons {
    margin: 10px;
}

.before-click {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.after-click {
    display: flex;
    flex-direction: column;
}

.take-a-note {
    font-size: 16px;
    font-weight: 600;
    color: #575757;
    width: 600px;
    box-shadow: 1px 1px 5px #979797;
    padding: 0 10px;
    border-radius: 5px;
    background-color: #fff;
    border: none;
}

.displaynotes {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100%;
}

.iconBar-with-btn {
    display: flex;
    flex-direction: row;

}

.input {

    border-bottom: none;
}

.bar-icon {
    margin: 2%;
}

.takeNote-bar {
    flex-grow: 0.7;
}

.bottom-bar {
    position: absolute;
    bottom: 0;
}

.note-card {
    width: 200px;
    height: 200px;
    position: relative;
}

.note-card:hover {
    box-shadow: 1px 1px 5px #727272;
}

.cards-container {
    padding: 50px;
}


@media only screen and (max-width:1000px) {
    .dashbd-search {
        position: relative;
        margin-right: 0;
        padding-right: 0;
    }

    .icons {
        margin: 0 10px;
    }
}

@media only screen and (max-width:790px) {
    .icons {
        margin: 0 3px;
    }

    .acc-icon,
    .app-icon {
        margin: 0 2px;
    }

    .google-icons {
        margin-left: 0;
    }
}