.dashbd-appbar {}

.dashbd-menu-btn {
    margin-right: 36px;
}

.dashbd-search {
    flex-grow: 0.5;
    position: relative;
    border-radius: 3px;
    background-color: #acacac;
}

.dashbd-search:active {
    background-color: #fff;
    margin-right: 3%;
    margin-left: 0;
}