.bottom-bar {
    align-items: flex-end;
    bottom: 0;
    visibility: hidden;
}

.note-card:hover>.bottom-bar {
    visibility: visible;
}

.note-div {
    width: fit-content;
    display: inline-block;
    padding: 10px;
}

.note-card {
    width: 300px;
    padding: 0 10px;
    border: 1px solid #c4c4c4;
    background-color: #57575700;
}

.note-card:hover {
    box-shadow: 1px 1px 5px #a5a5a5;
}

.notes-para {
    font-size: 18px;
    background-color: none;
}

@media only screen and (max-width:599px) {

    .note-div {
        width: 100%;
    }

    .note-card {
        width: 100%;
        height: 200px;
        border: 1px solid #c4c4c4;
        margin: 0;
    }
}

@media only screen and (max-width:790px) {

    .displaynotes {
        width: 100%;
        height: 200px;
    }
}