.bar-icon {
    margin: 6px;
    padding: 2px;
}

.bar-icon:active {
    background-color: #a0a0a0;
}

.color-palette {
    width: 150px;
    margin-bottom: 10px;
    padding: 4px;

}

.color {
    width: 29px;
    height: 29px;
    margin: 2px 3px;
    border-radius: 20px;
    border: 1px solid #a0a0a0;
}

.color-1 {
    background-color: #ffffff;
}

.color-2 {
    background-color: #f28b82;
}

.color-3 {
    background-color: #fbbc04;
}

.color-4 {
    background-color: #fff475;
}

.color-5 {
    background-color: #ccff90;
}

.color-6 {
    background-color: #a7ffeb;
}

.color-7 {
    background-color: #cbf0f8;
}

.color-8 {
    background-color: #aecbfa;
}

.color-9 {
    background-color: #d7aefb;
}

.color-10 {
    background-color: #fdcfe8;
}

.color-11 {
    background-color: #e6c9a8;
}

.color-12 {
    background-color: #e8eaed;
}

ul {
    list-style-type: none;
    color: #000;
    padding: 0;
    font-size: 15px;
    letter-spacing: 0;
}

li {
    padding: 4px 15px;
}



li:hover {
    background-color: #ebebeb;
}

.optionsPaper {
    box-shadow: 1px 1px 5px #a0a0a0;
}

.file-input {
    display: none;
}

@media only screen and (max-width:790px) {
    .bar-icon {
        margin: 5px 3px;
    }
}

@media only screen and (max-width:400px) {

    .bar-icon {
        padding: 3px;
    }
}