.take-a-note {
    font-size: 16px;
    font-weight: 600;
    color: #575757;
    width: 600px;
    box-shadow: 1px 1px 5px #979797;
    border-radius: 5px;
    background-color: #fff;
    border: none;
}

.add-note-icons {
    margin: 12px;
}

.before-click {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 5px;
}

.after-click {
    display: flex;
    flex-direction: column;
}

.note-input {
    border: none;
    font-size: 16px;
    padding: 10px 10px;
    background-color: #57575700;
    font-family: sans-serif;
}

.note-input:focus {
    outline: none;
}

.iconBar-with-btn {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.add-icons {
    display: flex;
    flex-direction: row;
}

.new-note-collab {
    padding: 15px;
    padding-bottom: 0;
    color: #000;
}

.collab-title {
    font-weight: 600;
    color: #000;
    margin: 0;
    margin-bottom: 10px;
}


.new-first,
.new-second {
    display: flex;
    flex-direction: row;
}

.new-first {
    align-items: center;
    padding: 10px 20px;
}

.new-second {
    padding: 10px 20px;
}

.add-new-colab-icon {
    padding: 10px;
}

.new-collab-btns {
    background-color: #f0f0f0;
    padding: 10px;
    display: flex;
    justify-content: flex-end;
}

.cancel-btn,
.save-btn {
    padding: 15px;
    font-size: medium;
    font-weight: 600;
    margin-left: 20px;
    border: none;
    background-color: #57575700;
}

.cancel-btn:hover,
.save-btn:hover {
    background-color: #e4e4e4;
}


@media only screen and (max-width:400px) {
    .before-click {
        flex-direction: column;
    }

    .take-a-note {
        margin-left: 20px;
    }

    .add-icons {
        justify-content: space-around;
    }
}

@media only screen and (max-width:790px) {
    .add-note-icons {
        margin: 12px 7px;
    }

    .take-a-note {
        width: 500px;
    }
}