.take-a-note {
    font-size: 16px;
    font-weight: 600;
    color: #575757;
    width: 600px;
    box-shadow: 1px 1px 5px #979797;
    border-radius: 5px;
    background-color: #fff;
    border: none;
}

.add-note-icons {
    margin: 12px;
}

.before-click {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.after-click {
    display: flex;
    flex-direction: column;
}

.note-input {
    border: none;
    font-size: 16px;
    padding: 10px 10px;
    background-color: #57575700;
}

.note-input:focus {
    outline: none;
}

.iconBar-with-btn {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.add-icons {
    display: flex;
    flex-direction: row;
}

@media only screen and (max-width:400px) {
    .before-click {
        flex-direction: column;
    }

    .add-icons {
        justify-content: space-around;
    }
}

@media only screen and (max-width:790px) {
    .add-note-icons {
        margin: 12px 7px;
    }

    .take-a-note {
        width: 500px;
    }
}