.sign-in-page {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sign-in-form {
    text-align: start;
    border: 1px solid #c5c5c5;
    border-radius: 8px;
    padding: 5%;
    font-family: 'Roboto', sans-serif;
    width: 400px;
}

.note {
    font-size: 17px;
}

.fundoo-logo {
    text-align: center;
    font-size: 24px;
    font-weight: 600;
}

.sign-in-head,
.sign-in-tag {
    margin: 0 0 3%;
}

.sign-in-tag {
    font-size: 16px;
    font-weight: 200;
}

.email-field {
    width: 100%;
}

.middle-box {
    text-align: start;
    margin-top: 2%;
}

.forgot-link,
.learn-more-link {
    color: #3f51b5;
    cursor: pointer;
    text-decoration: none;
    font-weight: 700;
}

.create-acc {
    font-weight: 600;
    text-decoration: none;
    color: #3f51b5;
    padding: 10px 0;
}

.create-acc:hover {
    color: #2f3d96;
    background-color: #ced8f852;
}


.bottom-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 5%;
}
.input-div {
    margin: 15px 0;
}
  

@media only screen and (max-width:600px) {
    .sign-in-form {
        padding: 10%;
        width: 100%;
        border: none;
    }

    .fundoo-logo {
        padding: 15px;
    }

    .sign-in-head,
    .sign-in-tag {
        margin-bottom: 4%;
    }
}

@media only screen and (max-width:399px){
    .note{ 
        font-size: 14px;
    }

}

@media only screen and (max-width:250px) { 

    .bottom-div {
        display: flex;
        flex-direction: column;
        padding-top: 10%;
    }

}